
@model X.PagedList.IPagedList<PagedList.Models.Cliente>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div id="clientesList">
    <partial name="_listagemClientes" model="@Model" />
</div>
